.bracket {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.phase {
  margin-bottom: 20px;
  text-align: center;
}

.match {
  background-color: #161616;
  border: 1px solid #ff1f1f;
  border-radius: 20px;
  margin: 10px 0;
  width: 300px;
  cursor: pointer;
}
