.match {
  h3 {
    text-align: center;
  }

  .matchForm {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 20px;
      width: 25%;

      .matchInput {
        padding: 1rem 0;
      }
    }
  }
}
