.customBackground {
  position: relative;
  z-index: 0;
}

.customBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/DiamondProminence_back-Photoroom.png-Photoroom.png"); /* Ruta absoluta de la imagen */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 0.1; /* Reducir la opacidad de la imagen */
  z-index: -1; /* Colocar la imagen detrás de todo el contenido */
}

/* Resto de tus estilos */
.post {
  transition: box-shadow 0.1s ease-in;
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1; /* Asegurarse de que el contenido esté sobre la imagen */

  h1 {
    font-size: 50px;
  }
}

.create,
.join,
.view {
  margin: auto;
  padding: 35px;
  width: 55%;
  text-align: center;
  position: relative;
  z-index: 1; /* Asegurarse de que el contenido esté sobre la imagen */

  p {
    text-align: left;
  }

  li {
    text-align: left;
  }

  ul {
    margin-bottom: 35px;
  }

  div {
    p {
      text-align: center;
      font-size: small;
      margin-top: 30px;
    }
  }
}

.view {
  div {
    margin-bottom: 45px;
  }
}

/* Media queries */
@media (max-width: 900px) {
  .create,
  .join,
  .view {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .create,
  .join,
  .view {
    width: 100%;
  }

  .post {
    margin-top: 1rem;
  }
}
