.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  .language {
    margin-left: 30px;
  }

  .topMenu {
    display: flex;
    justify-content: space-between;
    background-color: #ff1f1f;
    height: 30px;
    align-items: center;

    p {
      padding: 0 2rem;
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #161616;
    height: 10vh;

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: #ff1f1f;
      }
    }

    .tournament {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
    }

    .tournamentLinkContainer {
      position: relative;

      a {
        display: block;
      }

      .tournamentOptions {
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ff1f1f;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1;

        a {
          display: flex;
          justify-content: center;
          padding: 0 2rem;
          margin: 0.5rem 0;
          color: #000;
          text-decoration: none;
          width: 100%;

          &:hover {
            color: #ff1f1f;
          }
        }
      }
    }
  }

  .userContainer {
    position: relative;

    .userOptions {
      position: absolute;
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #fff;
      border: 1px solid #ff1f1f;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1;

      a {
        display: flex;
        justify-content: center;
        margin: 0.5rem 0;
        color: #000;
        text-decoration: none;
        width: 150%;
        padding: 0 2rem;

        &:hover {
          color: #ff1f1f;
        }
      }
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: #ff1f1f;
  }

  @media (max-width: 456px) {
    display: none;
  }
}

.mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #161616;
  height: 9vh;

  .mobileBtn {
    background-color: transparent;
    border: transparent;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .logo {
    position: absolute;
    left: 1rem;
    top: 0.3rem;
  }

  @media (max-width: 456px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}
